<!-- menú principal -->
<nav class="flexyRow-between">
    <div class="titulo flexyCol-center">
        <h2 class="silenced">Silenced</h2>
    </div>
    
    <ul class="flexyRow-spacebetween">
            <li><a href="/">Home</a></li>
            <li><a href="/opiniones">Opiniones</a></li>
            <li><a href="/graficas">Graficas</a></li>
    </ul>  
  
    <!-- menú registro/login -->
    <ul class="perfil">
        <% if (user ){ %>
            <!-- solo debe verse al estar logueado -->
            <li><a href="/perfil">Perfil</a></li>
            <li><a href="/logout">Salir</a></li>
        <% } else { %>
            <!-- registro y login se ocultan al estar logueado -->
            <li><a href="/registro">Registro</a></li>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>
<hr>

