:root {
    --back: radial-gradient(83.74% 125.72% at 78.3% 10.6%, #3D225C 39.4%, rgba(61, 34, 92, 0) 85.27%), #1C123B;
    --white: #ffffff;
}

* {
    font-family: poppins;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    background: var(--back);
    color: white;
    font-family: poppins;
}

h1 {
    color: #EF43CF;
}

h2 {
    color: #EF43CF;

}

.titulo {
    height: 60px;
    background-color: #EF43CF;
    margin-left: 30px;
    padding: 0px 30px 0px 30px;
}

nav {
    background: var(--back);
    width: 100%;


}

.silenced {
    background-color: #EF43CF;
    color: white;
    height: 50px;
    font-size: 30px;
   /*  font-family: 'Beth Ellen', cursive; */
    font-family: 'Homemade Apple', cursive;
    /* font-family: 'Kristi', cursive; */
    /* font-family: 'Reenie Beanie', cursive; */

}

nav>ul>li {
    display: inline-block;
    color: aqua;
    text-decoration: none;
    margin: 0 10px 0 10px;
}

nav>ul>li>a {
    text-decoration: none;
    color: white;
}

nav>ul>li>a:hover {
    background-color: #EF43CF;
    text-decoration: underline;
    cursor: pointer;
}

img {
    width: 100%;
    height: 400px;
    margin-top: -8px;
    position: relative;
    z-index: 3;
    border-bottom: 2px solid white;
}

hr {
    margin-top: -2px;
    position: relative;
    z-index: 3;
}

.opinion {
    border: 3px solid white;
    border-radius: 30px;
    width: 300px;
    margin: 20px;
    padding: 10px;

}

placeholder {
    margin-left: 5px;
}

/*redes sociales*/
.redes>ul>li {
    display: inline-block;
    list-style: none;
    padding: 0.625rem;
}

.fa-twitter {
    color: turquoise;
}

.fa-facebook-f {
    color: turquoise;
}

.fa-pinterest {
    color: red;
}

.fa-instagram {
    color: blueviolet;
}

.fa-google-plus-g {
    color: red;
}


footer {
    background-color: black;
    color: white;
}

footer>ul>li>a {
    text-decoration: none;
    color: white;
}

footer>ul>li {
    text-decoration: none;
    list-style: none;
}

.myChartDiv {
    max-width: 600px;
    max-height: 400px;
    background-color: white;
    position: relative;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

#myChart {
    color: white;
    background-color: white;
}

.botonGraficas>li {
    display: inline-block;
}

.botonGraficas>li>button>a {
    text-decoration: none;
    color: white;
}

.botonGraficas {
    border: 3px solid white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;

}

.tamañoOpinion {
    height: 60px;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
}

.tamañoOpinion:hover {
    height: 200px;
    
}

.descript {
    opacity: 0;
    width: 150px;
    border: 4px solid white;
    border-radius: 10px;
    padding: 10px;

    height: 50px;
    margin-top: 25px;
    position: relative;
    bottom: 56px;
    left: 140px;
    z-index: 99;
    background-color: black;
    font-size: 0.6rem;
}

.descript>div {
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
}

.descript>div>div {
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -9;
    background-color: black;
    border-top: 4px solid white;
    border-left: 4px solid white;
    top: -13px;
    left: 18px;
}

.toolTip {
    border-bottom: 4px solid white;
    text-decoration: none;
    color: white;
}

.toolTip:hover {
    cursor: pointer;
    color: black;
}

footer {
    height: 150px;
}

.subrayado {
    width: 35%;
    margin-bottom: 50px;

}

h1 {
    text-align: center;
}

.buscador {
    border: 3px solid white;
    width: 70%;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.campo {
    width: 250px;
    border-radius: 20px;
    height: 30px;

}

.area {
    width: 250px;
    border-radius: 20px;
    height: 200px;
}

label {
    margin-left: 10px;
}

.boton {
    border-radius: 20px;
    color: white;
    background-color: #1C7872;
    height: 40px;
    width: 150px;
    margin: 15px;
    border: 2px solid white
}
.boton:hover{
    border: 5px solid white;
    cursor: pointer;
    text-decoration: underline;


}
.noOpinion{
    color: white;
   text-align: center;
   padding-top: 40px;
   padding-bottom: 40px;
}
.botonPeq {
    border-radius: 20px;
    color: white;
    background-color: #1C7872;
    height: 40px;
    width: 80px;
    margin: 15px;

}

a {
    color: white;
}

button>a {
    text-decoration: none;
}

.log {
    border: 3px solid white;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 50px;
    padding: 30px;
}

.autor {
    margin-top: 40px;
}

nav>ul>li>a {
    margin-right: 22px;
}

/* flex */

.flexyRow-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flexyCol-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flexyRow-around {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexyCol-around {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexyRow-evenly {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flexyCol-evenly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flexyRow-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flexyCol-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flexyRow-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flexyCol-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}