
/* h1{
    color: red;
}
nav > ul > li{
    display: inline-block;
    color: aqua;
    text-decoration: none;
}
nav > ul > li >a{
    text-decoration: none;
}
nav > ul > li >a:hover{
    background-color: aqua;
} */