<%- include('../layout/header') %>
<%- include('../partials/nav') %>

<div class="log2 flexyCol-center">
    <h1>Login incorrecto</h1>
    <hr class="subrayado">
    <a href="/login"><button class="boton">Intentalo de nuevo</button></a>
</div>
<%- include('../layout/footer') %>