    <footer>
        <ul>
            <!-- redes sociales -->
            <li><a href="/registro">Facebook</a></li>
            <li><a href="/login">Instagram</a></li>
            <li><a href="/perfil">youtube</a></li>
        </ul>
    </footer>
</body>
</html>
