    <footer>
        <div  class="redes"> 
            <ul>
                <li><a href="https://twitter.com" target="blank" > <i class="fab fa-twitter opac"></i></a></li>
                <li><a href="https://facebook.com" target="blank"><i class="fab fa-facebook-f opac"></i> </a></li>
                <li><a href="https://pinterest.com" target="blank"><i class="fab fa-pinterest opac"></i> </a></li>
                <li><a href="https://instagram.com" target="blank"><i class="fab fa-instagram opac"></i></a></li>
             
            </ul>
        </div>
        <div class="autor flexyRow-center">
            <h4>Pedro Martinez Bañon ©2022</h4>
        </div>
    </footer>
</body>
</html>
